<section class="content-header">
<h1>Ubah
<small>Rangking</small></h1>
<%if (notice != nil)%>
<div class="alert alert-success">
  <%= notice %>
</div>
<% end %>
<% @url = rangkings_url %>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
        <%= render 'form', rangking: @rangking %>
        </div>
      </div>
    </div>
  </div>
</section>
