<p id="notice"><%= notice %></p>

<p>
  <strong>Nama alternatif:</strong>
  <%= @alternatif.nama_alternatif %>
</p>

<%= link_to 'Edit', edit_alternatif_path(@alternatif) %> |
<%= link_to 'Back', alternatifs_path %>
