

<div class="x_content">
  <table class="table">
    <caption>Analisis</caption>
    <thead>
      <td><center><b>#</b></center></td>
      <th scope="col">D (+)</th>
      <th scope="col">D (-)</th>
      <th scope="col">V</th>
    </thead>
    <tbody>
      <% alt = 0 %>
      <% @rangeAlternatif.each do |al| %>
        <tr>
          <th scope="col">A <%= alt+1 %></th>
          <td><%= @DPlus[alt] %></td>
          <td><%= @DMinus[alt] %></td>
          <td><b><%= @V[alt] %></b></td>
        </tr>
      <% alt += 1 %>
      <% end %>
    </tbody>
  </table>
</div>
